body {
  background-image: url(background.jpg);
}

.circle {
  height: 400px;
  width: 400px;
  background-color: rgba(187, 187, 187, 0.329);
  border-radius: 50%;
  display: inline-block;
  margin-left: 475px;
  border: 1px solid black;
}